.SecitonCart {
  margin-top: 6.2rem;
  max-width: 138rem;
  margin: 0 auto;
}
.CartContainer {
  margin-top: 12.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.ItemsParrent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 77.5rem;
  border: 1px solid #e6e6e6;

  /* max-height: 554px;
  overflow-y: scroll; */
}
.SummaryParrent {
  width: 36rem;
  border: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 3.2rem;
  gap: 2.2rem;
}
.Titles {
  padding: 1.8rem;
  padding-left: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}
.Titles > h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #555;
  font-weight: 600;
}
.Coupon {
  padding: 1.2rem;
  border-top: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Coupon > button {
  transition: ease-in-out 0.3s;
  cursor: pointer;
  background-color: #f3f3f3;
  border-radius: 2.4rem;
  border: none;
  padding: 1.2rem;
}
.Coupon > input {
  background-color: white;
  border-radius: 2.4rem;
  padding: 1.2rem;
  border: 1px solid #e6e6e6;
}
.Coupon > input:focus {
  outline: none;
}
.Coupon > button:hover {
  background-color: #717fe0;
  color: white;
}
.CartItemParrent {
  width: 100%;
  height: 15rem;
  border: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap !important;
  align-items: center;
}
.imgParrent {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 8rem;
  height: auto;
}
.imgContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgParrent:hover::before {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(103, 117, 214, 0.7);
}

.img {
  width: 100%;
  height: auto;
}
.Xicon {
  width: 26px;
  height: auto;
}
.DeleteItemButton {
  pointer-events: none;
  color: white;
  background-color: initial;
  z-index: 10;
  border: none;
  position: absolute;
  visibility: hidden;
  cursor: pointer;
}
.imgContainer:hover > .DeleteItemButton {
  visibility: visible;
}

.Product {
  width: 20rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Product > h2 {
  margin-left: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #555;
  font-size: 1.6rem;
  line-height: 1.6;
}
.CartItemParrent > h2 {
  margin-left: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #555;
  font-size: 1.6rem;
  line-height: 1.6;
}
.Titles > .FirstChild {
  margin-left: 1.2rem;
  margin-right: 16.2rem;
}
.MaxHeight {
  max-height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.AmmountParrent {
  display: flex;
  align-items: center;
}
.AmmountParrent > h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  width: 40px;
  height: 40px !important;
  height: auto;
  border: 1px solid #e6e6e6;
  background-color: #f7f7f7;
}
.icons {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
  cursor: pointer;
  transition: ease-in-out 0.3s;
  padding: 1rem;
  width: 40px;
  height: 40px;
  border: 1px solid #e6e6e6;
  color: #555;
}
.icons:hover {
  background-color: #717fe0;
  color: white;
}
.Total {
  width: 65px;
}
.CartEmpty {
  margin-top: 14.2rem;
  margin-bottom: 14.2rem;
  display: flex;
  justify-content: center;
}
.CartEmpty > h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.SummaryParrent > h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
}
.SubTotal > h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
.SubTotal > p {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
.SubTotal {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.Border {
  content: " ";
  width: 100%;
  border-bottom: 1px dashed #d9d9d9;
}
.ShippingPar {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.ShippingPar > h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.RightSideParrent {
  width: 60%;
}
.RightSideParrent > p {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6923;
  color: #888;
}
.ShippingTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6923;
  margin-top: 1.4rem;
}
.Select {
  margin-top: 1.4rem;
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 1rem;
}
.Select:focus {
  outline: none;
}
.RightSideParrent > input {
  margin-top: 1.4rem;
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 1rem;
}
.RightSideParrent > input:focus {
  outline: none;
}
.TotalButton {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 1.4rem;
  font-size: 1.4rem;
  width: 100%;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  background-color: #f3f3f3;
  border-radius: 2.4rem;
  border: none;
  padding: 1.2rem;
}
.TotalButton:hover {
  background-color: #717fe0;
  color: white;
}
.BottomPar {
  margin-top: 1.4rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.BottomPar > h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
.BottomPar > p {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
.OrderButton {
  transition: ease-in-out 0.3s;
  cursor: pointer;
  margin-top: 2.8rem;
  width: 100%;
  padding: 0.8rem;
  background-color: #222;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 2.3rem;
  border: none;
}
.OrderButton:hover {
  background-color: #717fe0;
  color: white;
}
@media (max-width: 1200px) {
  .MaxHeight {
    padding: 0 0;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll !important;
  }
  .CartContainer {
    padding: 3.2rem;
    margin-top: 6.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8.2rem;
  }
  .ItemsParrent {
    padding: 0 1.2rem;
    width: 100%;
  }
  .SummaryParrent {
    padding: 0 1.2rem;
    width: 90%;
  }
  .ItemsParrent {
    padding: 0;
  }
}

@media (max-width: 593px) {
  .MaxHeight {
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll !important;
  }

  .Titles {
    width: 60rem;
  }
  .Titles > .FirstChild {
    margin-left: 1.2rem;
    margin-right: 8.2rem;
  }
  .CartItemParrent {
    width: 60rem;
  }

  .Titles > h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 419px) {
  .Coupon > button {
    width: 35%;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    background-color: #f3f3f3;
    border-radius: 2.4rem;
    border: none;
    padding: 0.2rem;
  }
  .Coupon > input {
    width: 65%;
    background-color: white;
    border-radius: 2.4rem;
    padding: 0.6rem;
    border: 1px solid #e6e6e6;
  }
}
@media (max-width: 372px) {
  .RightSideParrent > p {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    line-height: 1.6923;
    color: #888;
  }
  .RightSideParrent > h3 {
    font-size: 1.3rem;
  }
  .RightSideParrent > .Select {
    font-size: 1.3rem;
  }
  .RightSideParrent > button {
    font-size: 1.3rem;
    padding: 0.1rem;
  }
  .ShippingPar {
    width: 100%;
    gap: 0.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
