.CheckoutSection {
  max-width: 150rem;
  margin: 0 auto;
}

.CheckoutContainer {
  margin-top: 12.2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.CheckoutFrom {
  padding: 1.2rem;
}
.CheckoutFrom > h1 {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
}

.CheckoutFrom > p {
  line-height: 4.2;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
.PersonalInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}
.ErrorMessage {
  margin-top: 1.2rem;
  color: red;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}
.PersonalInfoParrent {
  margin-bottom: 2.8rem;
}
.PersonalInfoParrent > h2 {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}
.PersonalInfoContainer > input {
  border-radius: 0.2rem;
  padding: 0.8rem;
  border: 1px solid #b8b8b8;
}
.PersonalInfoContainer > input:focus {
  outline: none;
}
.PersonalInfoContainer {
  margin-top: 1.2rem;
}
.Address,
.CreditCard {
  width: 100%;
}

.CardInformationContainer > input {
  border-radius: 0.2rem;
  padding: 0.8rem;
  border: 1px solid #b8b8b8;
  margin-bottom: 1.8rem;
}
.CardInformationContainer > h2 {
  margin-bottom: 0.6rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.CardInformationContainer > input:focus {
  outline: none;
}
.CardInformationContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 3.2rem;
}
.CreditCardDetails {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.CreditCardBox > h2 {
  margin-bottom: 0.6rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}
.CreditCardBox > input {
  border-radius: 0.2rem;
  padding: 0.8rem;
  border: 1px solid #b8b8b8;
}
.CreditCardBox > input:focus {
  outline: none;
}
.OrderBUtton {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  width: 100%;
  padding: 0.8rem 0;
  color: white;
  background-color: #222;
}
.OrderBUtton:hover {
  background-color: #5a66b3;
}

.OrderBUtton:active {
  background-color: #717fe0;
}
.CheckoutItems {
  padding: 1.2rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.CheckoutItems > h1 {
  margin-bottom: 3.2rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.ItemsParrent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 77.5rem;
  border: 1px solid #e6e6e6;
}
.Titles {
  padding: 1.8rem;
  padding-left: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}
.Titles > h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #555;
  font-weight: 600;
}
.Titles > .FirstChild {
  margin-left: 1.2rem;
  margin-right: 16.2rem;
}
.MaxHeight {
  max-height: 470px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.Coupon > h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}
.CartEmpty {
  margin-top: 14.2rem;
  margin-bottom: 14.2rem;
  display: flex;
  justify-content: center;
}
.CartEmpty > h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.Coupon {
  padding: 1.2rem;
  border-top: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Coupon > button {
  transition: ease-in-out 0.3s;
  cursor: pointer;
  background-color: #f3f3f3;
  border-radius: 2.4rem;
  border: none;
  padding: 1.2rem;
}
.Coupon > input {
  background-color: white;
  border-radius: 2.4rem;
  padding: 1.2rem;
  border: 1px solid #e6e6e6;
}
.Coupon > input:focus {
  outline: none;
}
.Coupon > button:hover {
  background-color: #717fe0;
  color: white;
}
.CartItemParrent {
  width: 76rem;
  height: 15rem;
  border: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap !important;
  align-items: center;
}
.CartItemParrent > h2 {
  margin-left: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #555;
  font-size: 1.6rem;
  line-height: 1.6;
}
.Product {
  width: 20rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Product > h2 {
  margin-left: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #555;
  font-size: 1.6rem;
  line-height: 1.6;
}
.imgContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgContainer:hover > .DeleteItemButton {
  visibility: visible;
}
.DeleteItemButton {
  pointer-events: none;
  color: white;
  background-color: initial;
  z-index: 10;
  border: none;
  position: absolute;
  visibility: hidden;
  cursor: pointer;
}
.imgContainer:hover > .DeleteItemButton {
  visibility: visible;
}
.imgParrent {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 8rem;
  height: auto;
}
.imgParrent:hover::before {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(103, 117, 214, 0.7);
}
.img {
  width: 100%;
  height: auto;
}
.AmmountParrent {
  display: flex;
  align-items: center;
}
.AmmountParrent > h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  width: 40px;
  height: 40px !important;
  height: auto;
  border: 1px solid #e6e6e6;
  background-color: #f7f7f7;
}
.icons {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
  cursor: pointer;
  transition: ease-in-out 0.3s;
  padding: 1rem;
  width: 40px;
  height: 40px;
  border: 1px solid #e6e6e6;
  color: #555;
}
.icons:hover {
  background-color: #717fe0;
  color: white;
}
.Total {
  width: 65px;
}
