.topBarContainer {
  background-color: #222;
  padding: 0.2rem;
  width: 100%;
}
.topBarContainerResponsive {
  background-color: #222;
  padding: 0.2rem;
  width: 100%;
  margin-top: 5.4rem;
}

.topBar {
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.TopBarLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.TopBarLinks > a {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0 2.5rem;
  text-decoration: none;
  color: #b2b2b2;
  font-size: 1.4rem;
  transition: ease 0.3s;
  height: 100%;
}
.FirstChild {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.TopBarLinks > a:hover {
  transition: ease 0.3s;
  color: #007bff;
}
.BarParParrent > p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0.8rem 0;
  font-size: 1.4rem;
  color: #b2b2b2;
}

.LinksAndLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.8rem;
}

.LinksAndLogo > a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-decoration: none;
  transition: ease 0.3s;
  font-size: 1.4rem;
  color: #333;
}
.LinksAndLogo > a:hover {
  transition: ease 0.3s;
  color: #007bff;
}

.CartAndWishlist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}
.logo {
  width: 13rem;
  height: auto;
  margin-right: 4.2rem;
}
.logo:hover {
  cursor: pointer;
}
.navIconButtons {
  transition: ease 0.3s;
  border: none;
  background-color: inherit;
  position: relative;
}
.Icons {
  color: #333;
  width: 220%;
  height: auto;
}
.BurgerMenu {
  display: none;
  color: #333;
  width: 220%;
  height: auto;
}
.navIconButtons > .Icons:hover {
  transition: ease 0.3s;
  cursor: pointer;
  color: #717fe0;
}

.iconNum {
  position: absolute;
  border-radius: 50%;
  padding: 0.2rem;
  background-color: #717fe0;
  color: white;
  width: 2rem;
  height: 2rem;
  top: -1rem;
  left: 2rem;
}
.navIconButtons > .BurgerMenu:hover {
  transition: ease 0.3s;
  cursor: pointer;
  color: #717fe0;
}

.NavParrent {
  position: relative;
  margin-top: 2.2rem;
  z-index: 10;
}
.MobileNav {
  width: 100vw;
  background-color: #222;
  color: #b2b2b2;
  gap: 2.8rem;
  padding: 0.8rem 3.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.MobileNavContainer {
  max-width: 90rem;
  margin: 0 auto !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3.2rem;
}
.MobileNavContainer > h2 {
  transition: ease-in-out 0.3s;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.MobileNavContainer > h2:hover {
  cursor: pointer;
  color: #717fe0;
}
.AdditionalLinksParrent > h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.SecondNavigation {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  width: 100vw;
  background-color: #717fe0;
  color: white;
  gap: 1.2rem;
  padding: 0.8rem 3.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.SecondNavigation > a {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.animationDiv {
  position: initial;
  margin-bottom: 0 !important;
}

@keyframes myAnim2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.Navigation {
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.StickyNavParrent {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  width: 100%;
  height: 7rem;
  padding-top: 2.2rem;
  border-bottom: 1px solid #e6e6e6;

  animation: myAnim 0.3s ease 0s 1 normal forwards;
  top: 0;
  position: fixed;
  z-index: 10;
  background-color: rgba(255, 255, 255, 1);
}
.sidePannelCart {
  top: 0;
  right: -400px;
  margin: 0 auto;
  width: 400px;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  color: black;
  z-index: 200;
}
.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  z-index: 100;
}

/* RESPONSIVE */

@media (max-width: 1430px) {
  .topBar {
    max-width: 110rem;
  }
  .Navigation {
    max-width: 110rem;
  }
}
@media (max-width: 1180px) {
  .topBar {
    max-width: 90rem;
  }
  .Navigation {
    max-width: 90rem;
  }
  .NavParrent {
    margin-top: 1.2rem;
  }
}
@media (max-width: 1100px) {
  .LinksAndLogo > a {
    display: none;
  }
  .BurgerMenu {
    display: block;
  }
  .Navigation {
    padding: 0 2.2rem !important;
  }
  .topBarContainerResponsive,
  .topBarContainer {
    display: none;
  }
  .NavParrent {
    padding: 1.2rem;
  }
  .SectionNav {
    margin: 0 auto;
  }
  .StickyNavParrent {
    position: static;
    border: none;
  }
}
@media (max-width: 800px) {
  .sidePannelCart {
    top: 0;
    right: -400px;
    margin: 0 auto;
    width: 280px;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    color: black;
    z-index: 200;
  }
}

@media (max-width: 350px) {
  .MobileNavContainer > h2 {
    transition: ease-in-out 0.3s;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
  }
  .MobileNavContainer > h2:hover {
    cursor: pointer;
    color: #717fe0;
    font-size: 1.2rem;
  }
  .AdditionalLinksParrent > h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
  }
}

@media (max-width: 376px) {
  .Navigation {
    padding: 0 1.2rem !important;
  }
  .CartAndWishlist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
  }
  .Icons {
    color: #333;
    width: 160%;
    height: auto;
  }
  .BurgerMenu {
    width: 160%;
    height: auto;
  }
  .iconNum {
    font-size: 1.2rem;
    position: absolute;
    border-radius: 50%;
    width: 1.8rem;
    height: auto;
    top: -1rem;
    left: 1.2rem;
  }
  .logo {
    width: 13rem;
    height: auto;
    margin-right: 2.2rem;
  }
}
