.topBarContainer {
  background-color: #222;
  padding: 0.2rem;
}

.topBar {
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TopBarLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.2rem;
}
.TopBarLinks > a {
  padding: 0.8rem 0;
  text-decoration: none;
  color: #b2b2b2;
  font-size: 1.6rem;
  transition: ease 0.3s;
}

.TopBarLinks > a:hover {
  transition: ease 0.3s;
  color: #007bff;
}
.BarParParrent > p {
  padding: 0.8rem 0;
  font-size: 1.6rem;
  color: #b2b2b2;
}

.LinksAndLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.8rem;
}

.LinksAndLogo > a {
  text-decoration: none;
  transition: ease 0.3s;
  font-size: 1.8rem;
  color: #333;
}
.LinksAndLogo > a:hover {
  transition: ease 0.3s;
  color: #007bff;
}

.CartAndWishlist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}
.logo {
  width: 130px;
  height: auto;
  margin-right: 4.2rem;
}
.navIconButtons {
  transition: ease 0.3s;
  border: none;
  background-color: inherit;
  position: relative;
}
.Icons {
  color: #333;
  width: 220%;
  height: auto;
}
.navIconButtons > .Icons:hover {
  transition: ease 0.3s;
  cursor: pointer;
  color: #717fe0;
}

.iconNum {
  position: absolute;
  border-radius: 50%;
  padding: 0.2rem;
  background-color: #717fe0;
  color: white;
  width: 20px;
  height: 20px;
  top: -10px;
  left: 18px;
}

.NavParrent {
  position: relative;
  margin-top: 2.2rem;
  z-index: 10;
}
@keyframes myAnim2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.Navigation {
  animation: myAnim2 1s ease 0s 1 normal forwards;
  max-width: 130rem;
  margin: 0 auto;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.StickyNavParrent {
  width: 100vw;
  height: 70px;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;

  animation: myAnim 1s ease 0s 1 normal forwards;
  top: 0;
  position: fixed;
  z-index: 10;
  background-color: rgba(255, 255, 255, 1);
}
