@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fromBottom {
  0% {
    transform: scale(0);
    transform-origin: 50% 100%;
  }

  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
}

.featuredSection,
.featuredSection:active,
.featuredSection:visited {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

.FeaturedboxParrent {
  width: 43rem;
  height: auto;
  border: 1px solid #e6e6e6;
  position: relative;
}
.imgParrent:hover::before {
  transition: ease-in-out 0.4s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(103, 117, 214, 0.8);
}
.imgParrent:hover > .title {
  transition: ease-in-out 0.4s;
  color: white;
}
.imgParrent:hover > .par {
  transition: ease-in-out 0.4s;
  color: white;
}

.imgParrent:hover > .shopNow {
  visibility: visible;
  animation: fromBottom 1s ease 0s 1 normal forwards;
}
.imgParrent::before {
  transition: ease-in-out 0.4s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(214, 103, 171, 0);
}
.Featuredimg {
  width: 100%;
  height: auto;
}

.Featuredimg:hover {
  width: 100%;
  height: auto;
}
.title,
.par {
  transition: ease-in-out 0.4s;
  position: absolute;
  left: 60px;
}
.title {
  top: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  line-height: 1.1;
  font-size: 2.8rem;
}
.par {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  top: 70px;
  font-size: 1.4rem;
}
.shopNow {
  visibility: hidden;
  color: white;
  position: absolute;
  border-bottom: 2px solid white;
  bottom: 30px;
  left: 60px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  line-height: 1.466667;
  text-transform: uppercase;
}
@media (max-width: 1430px) {
  .FeaturedboxParrent {
    width: 100%;
  }
}
