.Container {
  margin-top: 6.2rem;
  padding: 0 8.2rem;
}
.TopPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.TopPart > h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  line-height: 1.333333;
  text-transform: uppercase;
}
.TopPart > button {
  background-color: inherit;
  border: none;
}
.TopPart > button > svg {
  width: 2.5rem;
  height: auto;
}
.TopPart > button:hover {
  cursor: pointer;
}
.ProductsParrent {
  margin-top: 6.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
