.featuredSection {
  max-width: 130rem;
  margin: 0 auto;
  margin-top: 102rem;
  margin-bottom: 20rem;
}

.FeaturedParrent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3.2rem;
}

@media (max-width: 1430px) {
  .featuredSection {
    max-width: 110rem;
  }
}
