.featuredSection {
  max-width: 130rem;
  margin: 0 auto;
  margin-top: 92rem;
  margin-bottom: 20rem;
}

.FeaturedParrent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3.2rem;
}

@media (max-width: 1291px) {
  .featuredSection {
    max-width: 110rem;
    margin-top: 62rem;
  }
}
@media (max-width: 1200px) {
  .featuredSection {
    max-width: 100rem;
    margin-top: 56rem;
  }
}

@media (max-width: 1100px) {
  .featuredSection {
    margin-top: 3.2rem;
  }
}
/* @media (max-width: 1000px) {
  .featuredSection {
    margin-top: 44rem;
  }
}
@media (max-width: 956px) {
  .featuredSection {
    margin-top: 44rem;
    max-width: 80rem;
  }
} */
