.Section {
  margin-top: 4.2rem;
}

.BackgroundImage {
  background-image: url(../../public/AboutPage/bg-01.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 92px 15px;
  margin-bottom: 6.2rem;
}
.BackgroundImage > h1 {
  text-align: center;
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #fff;
}
.infoContainer {
  padding: 2.2rem;
  max-width: 130rem;
  margin: 0 auto;
  margin-bottom: 15.2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.infoContainer2 {
  padding: 2.2rem;
  max-width: 130rem;
  margin: 0 auto;
  margin-bottom: 15.2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.imgParrent {
  width: 43rem;
  overflow: hidden;
}
.Image {
  object-fit: cover;
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.Image:hover {
  transform: scale(1.2);
}
.ParagraphParrent {
  margin-right: 8.5rem;
}
.ParagraphParrent2 {
  margin-left: 8.5rem;
}
.ParagraphParrent2 > p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.7857;
  color: #888;
}
.ParagraphParrent2 > h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 2.2rem;
}

.ParagraphParrent > p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7857;
  color: #888;
  margin-bottom: 2.6rem;
}
.ParagraphParrent > h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 2.2rem;
}
.Quotes {
  border-left: 3px solid #e6e6e6;
  margin-top: 2.2rem;
  padding-left: 2.9rem;
  padding-bottom: 0.9rem;
}
.Quotes > p {
  columns: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.666667;
  padding-bottom: 1.1rem;
  padding-right: 4rem;
}
.Quotes > span {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.6923;
}
.ParagraphParrent > p {
  margin-bottom: 2.6rem;
}
@media (max-width: 1024px) {
  .infoContainer {
    padding: 2.2rem;
    max-width: 130rem;
    margin: 0 auto;
    margin-bottom: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.8rem;
  }
  .infoContainer2 {
    padding: 2.2rem;
    max-width: 130rem;
    margin: 0 auto;
    margin-bottom: 3.2rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 3.8rem;
  }
  .ParagraphParrent {
    margin-right: 0;
  }
  .ParagraphParrent2 {
    margin-left: 0;
  }
  .imgParrent {
    width: 80%;
    height: auto;
    overflow: hidden;
  }
}
